# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Python package files
*.egg
*.egg-info/
dist/
build/
*.whl

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pipenv files (optional if using Pipfile)
Pipfile.lock
